/* Home.css */
.home-container {
    background-image: url('https://res.cloudinary.com/dbelvmspz/image/upload/v1676832191/server_room_mldinh.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .home-text-container{
    height: 20%;
    width: 55%;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    @media screen and (max-width: 768px) {
      
      height: 10%;
      width: 55%;
      }      
    
    
   }

  .welcome-heading {   
    color: yellow; 
    font-size: 30px; 
    @media screen and (max-width: 768px) {
      
      font-size:20px;
      }      
    
  }
  
  .description {
    color: #fff;
    font-size: 20px;      
    margin: 10px 0;
    @media screen and (max-width: 768px) {
      
      font-size:10px;
      }      
    
  }
  
  .action-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .updates-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #2196F3;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .action-button:hover, .updates-link:hover {
    opacity: 0.8;
  }
  
  .latest-updates-container {
    background-color: #dddddd;
    width:50%;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .latest-updates-container  {
    color: #333;
    margin-bottom: 10px;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  .latest-text {
    animation: blink 2s infinite;
    color:red;
  }